<app-header></app-header>
<div class="pt-[6rem] flex flex-col items-center mx-4 lg:mx-8">

  <div
    class="bg-gray-900 text-white text-lg font-bold text-center p-5 w-full max-w-md mx-auto rounded-lg flex justify-between items-center">
    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded"
            (click)="showInviteModal = true">
      Invite
    </button>

    <span>{{ groupService.selectedGroupSubject.getValue()?.name }}</span>

    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
            (click)="showModal = true">
      Leave
    </button>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full min-w-max max-w-6xl mt-4">
    <table class="w-full text-sm text-left text-gray-400 bg-gray-800 border-2 border-gray-950">
      <tbody>
      <ng-container *ngFor="let user of groupService.groupUsers$ | async">
        <!-- Row for Username and Clear button -->
        <tr class="bg-gray-900 cursor-pointer" (click)="toggleProductsVisibility(user.uid!)">
          <td class="px-6 py-4 text-gray-200 font-bold">
            {{ user.name }}
          </td>
          <td class="px-6 py-4 text-gray-200 font-bold text-right">
            Total Products: {{ getTotalProductCount(user.uid!) }}
          </td>
          <td class="px-6 py-4 text-right">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                    (click)="clearProductsSubject.next(user.uid!); $event.stopPropagation()">
              Clear
            </button>
          </td>
        </tr>

        <!-- Row for Products (visible only when toggled) -->
        <tr *ngIf="!!this.visibleProductsMap.get(user.uid!);" class="bg-gray-800">
          <td class="px-6 py-4" colspan="3">
            <ul class="mr-auto">
              <li *ngFor="let product of (usersProducts$ | async)?.get(user.uid!)"
                  class="odd:bg-gray-700 text-lg leading-loose border-b border-gray-600 cursor-pointer"
                  (click)="updateProductSubject.next(product)" [class.line-through]="product.bought">
                <span>
                  {{ product.name }} <span *ngIf="product.count > 0">- {{ product.count }}</span>
                </span>
              </li>
            </ul>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<!-- Sticky "Add" Button -->
<div class="fixed bottom-10 left-0 right-0 p-4">
  <div class="flex items-center justify-center">
    <button
      class="bg-gray-900 hover:bg-gray-700 text-white font-bold text-4xl py-4 px-8 rounded-lg transition ease-in-out duration-150"
      (click)="showProductForm = true">
      +
    </button>
  </div>
</div>

<!-- Product Adding Form -->
<div *ngIf="showProductForm"
     class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-gray-900 bg-opacity-90">
  <div class="bg-gray-950 p-8 rounded-lg shadow-lg w-full sm:max-w-md mx-auto">
    <form #productForm="ngForm" (ngSubmit)="addProductSubject.next(productData)">
      <input type="text" name="name" placeholder="Product Name" [(ngModel)]="productData.name" autofocus
             class="text-center w-full px-3 py-2 mt-4 placeholder-gray-500 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2">
      <input type="number" name="count" placeholder="Product Count" [(ngModel)]="productData.count" required
             class="text-center w-full px-3 py-2 mt-4 placeholder-gray-500 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2">
      <button type="submit"
              class="w-full mt-6 bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg transition ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Add Product
      </button>
    </form>

    <button (click)="showProductForm = false"
            class="w-full mt-6 bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded-lg transition ease-in-out duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
      Cancel
    </button>
  </div>
</div>

<!-- Custom Leave Group Modal -->
<div *ngIf="showModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-gray-950 p-6 rounded-lg shadow-lg text-center">
    <h2 class="text-lg text-gray-200 font-bold mb-4">Leave Group Confirmation</h2>
    <p class="text-gray-200">Are you sure you want to leave this group?</p>
    <div class="flex justify-around mt-4">
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="leaveGroupSubject.next(); showModal = false;">Yes, Leave
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="showModal = false;">
        No, Stay
      </button>
    </div>
  </div>
</div>

<!-- Custom Invite Group Modal -->
<div *ngIf="showInviteModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-gray-950 p-6 rounded-lg shadow-lg text-center">
    <h2 class="text-lg text-gray-200 font-bold mb-4">Invite to Group</h2>
    <p class="text-gray-200">Invite someone to join this group.</p>
    <p class="text-gray-200 font-bold">Invite Code: {{ groupService.selectedGroupSubject.getValue()?.inviteCode }}</p>
    <div class="flex justify-center mt-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              (click)="showInviteModal = false;">OK
      </button>
    </div>
  </div>
</div>



